
#index-banner {
background: url("../img/postman-hero.jpg");
 background-position: center center;
    background-size: cover;
    padding-top: 40px;
}

#footer_id{
    background-color: #00264d;
    height:25px;
    color: white;
    text-align: center;
    font-family:cursive;

}
